@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

:root {
    --gray: #adadad;
    --yellow: #ff9800;
    --red: #f44336;
    --green: #7ed957;
    --blue: #2196f3;
    --white: #fafafa;
    --black: #212121;

    --primary: #eb7763;
    --secondary: var(--gray);
    --warning: var(--yellow);
    --success: var(--green);
    --info: var(--blue);
    --light: var(--white);
    --dark: var(--black);
    --danger: var(--red);
}

body {
    background-color: var(--white);
    color: var(--black);
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif
}

.tab-container {
    z-index: 9999999999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 10px);
    padding: 5px 5px;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    gap: 5px;
    background-color: var(--gray);

}
.tab {
    display: flex;
    flex-flow: row nowrap;
    color: var(--white);
    height: fit-content;
    gap: 15px;
    align-items: center;
    padding: 7px 15px;
    padding-right: 5px;
    background-color: var(--black);
    border-radius: 5px;
    cursor: grab;
    user-select: none;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.tab h4 {
    margin: 0;
    font-weight: lighter;
}

.selected {
    background-color: var(--primary);
}

.tab button {
    border: none;
    background-color: transparent;
    color: var(--white);
}

.tools {
    width: 100%;
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.toolbar-container {
    height: 2rem;
    width: calc(100% - 12px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: var(--white);
    padding: 0 6px;
}

.tools-right {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.tools-left {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tools-center {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#app {
    margin: 42px 0px;
}

.btn {
    --btn-color: #333;
    --btn-bg-color: #fff;
    --btn-hover-color: #fff;
    --btn-hover-bg-color: #333;

    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--btn-bg-color);
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
    color: var(--btn-hover-color);
    border-color: var(--btn-hover-bg-color);
}

.btn:active {
    transform: scale(0.95);
}

.btn-primary {
    --btn-color: var(--black);
    --btn-bg-color: var(--primary);
    --btn-hover-color: var(--black);
    --btn-hover-bg-color: var(--primary);
}

.btn-secondary {
    --btn-color: var(--black);
    --btn-bg-color: var(--secondary);
    --btn-hover-color: var(--black);
    --btn-hover-bg-color: var(--secondary);
}

.btn-warning {
    --btn-color: var(--black);
    --btn-bg-color: var(--warning);
    --btn-hover-color: var(--black);
    --btn-hover-bg-color: var(--warning);
}

.btn-success {
    --btn-color: var(--black);
    --btn-bg-color: var(--success);
    --btn-hover-color: var(--black);
    --btn-hover-bg-color: var(--success);
}

.btn-info {
    --btn-color: var(--black);
    --btn-bg-color: var(--info);
    --btn-hover-color: var(--black);
    --btn-hover-bg-color: var(--info);
}

.btn-light {
    --btn-color: var(--black);
    --btn-bg-color: var(--light);
    --btn-hover-color: var(--black);
    --btn-hover-bg-color: var(--light);
}

.btn-dark {
    --btn-color: var(--white);
    --btn-bg-color: var(--dark);
    --btn-hover-color: var(--white);
    --btn-hover-bg-color: var(--dark);
}

.btn-danger {
    --btn-color: var(--black);
    --btn-bg-color: var(--danger);
    --btn-hover-color: var(--black);
    --btn-hover-bg-color: var(--danger);
}

.btn-white {
    --btn-color: var(--white);
    --btn-hover-color: var(--white);
}

.btn-toolbar {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    font-size: 1.5rem;
    box-shadow: none;
}

.btn-toolbar * {
    font-weight: 800;
}

.btn-toolbar:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: var(--primary);
}